In [127]:
import tensorflow as tf
import pandas as pd

In [128]:
print("Shree AI Solutions")

Shree AI Solutions

In [129]:
print(tf.__version__)

2.12.0

In [130]:
data = pd.read_csv("sample.csv")

In [131]:
newdata = data.drop(['ssboe','intvwap','intv','intoi','v','oi','Unnamed: 0','stat'],axis=1)

In [132]:
newdata.head()

                  time     into     inth      intl      intc
0  29-03-2023 15:32:08  17080.7  17080.7  17080.70  17080.70
1  29-03-2023 15:31:14  17117.7  17117.7  17117.70  17117.70
2  29-03-2023 15:29:00  17115.3  17121.5  17106.35  17115.55
3  29-03-2023 15:28:00  17123.7  17125.9  17113.75  17117.35
4  29-03-2023 15:27:00  17116.0  17123.9  17113.05  17122.65

In [133]:
newdata['time'] = pd.to_datetime(newdata['time'])

C:\Users\Dhruv_fefar\AppData\Local\Temp\ipykernel_5884\638112835.py:1: UserWarning: Parsing dates in %d-%m-%Y %H:%M:%S format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  newdata['time'] = pd.to_datetime(newdata['time'])

In [134]:
newdata['time'] = pd.to_numeric(newdata['time'])

In [135]:
newdata

                      time      into      inth      intl      intc
0      1680103928000000000  17080.70  17080.70  17080.70  17080.70
1      1680103874000000000  17117.70  17117.70  17117.70  17117.70
2      1680103740000000000  17115.30  17121.50  17106.35  17115.55
3      1680103680000000000  17123.70  17125.90  17113.75  17117.35
4      1680103620000000000  17116.00  17123.90  17113.05  17122.65
...                    ...       ...       ...       ...       ...
16256  1675069440000000000  17536.95  17536.95  17513.55  17536.35
16257  1675069380000000000  17600.05  17601.60  17536.15  17536.70
16258  1675069320000000000  17594.40  17615.20  17594.40  17599.55
16259  1675069260000000000  17589.70  17599.60  17510.50  17595.35
16260  1675069200000000000  17562.15  17642.75  17539.60  17596.60

[16261 rows x 5 columns]

In [136]:
pd.to_datetime(newdata['time'])

0       2023-03-29 15:32:08
1       2023-03-29 15:31:14
2       2023-03-29 15:29:00
3       2023-03-29 15:28:00
4       2023-03-29 15:27:00
                ...
16256   2023-01-30 09:04:00
16257   2023-01-30 09:03:00
16258   2023-01-30 09:02:00
16259   2023-01-30 09:01:00
16260   2023-01-30 09:00:00
Name: time, Length: 16261, dtype: datetime64[ns]

In [137]:
newdata

                      time      into      inth      intl      intc
0      1680103928000000000  17080.70  17080.70  17080.70  17080.70
1      1680103874000000000  17117.70  17117.70  17117.70  17117.70
2      1680103740000000000  17115.30  17121.50  17106.35  17115.55
3      1680103680000000000  17123.70  17125.90  17113.75  17117.35
4      1680103620000000000  17116.00  17123.90  17113.05  17122.65
...                    ...       ...       ...       ...       ...
16256  1675069440000000000  17536.95  17536.95  17513.55  17536.35
16257  1675069380000000000  17600.05  17601.60  17536.15  17536.70
16258  1675069320000000000  17594.40  17615.20  17594.40  17599.55
16259  1675069260000000000  17589.70  17599.60  17510.50  17595.35
16260  1675069200000000000  17562.15  17642.75  17539.60  17596.60

[16261 rows x 5 columns]

In [138]:
len(newdata)

16261

In [139]:
time = newdata['time']

In [140]:
res = newdata.drop(['time'], axis = 1)

In [141]:
time , res

(0        1680103928000000000
 1        1680103874000000000
 2        1680103740000000000
 3        1680103680000000000
 4        1680103620000000000
                 ...
 16256    1675069440000000000
 16257    1675069380000000000
 16258    1675069320000000000
 16259    1675069260000000000
 16260    1675069200000000000
 Name: time, Length: 16261, dtype: int64,
            into      inth      intl      intc
 0      17080.70  17080.70  17080.70  17080.70
 1      17117.70  17117.70  17117.70  17117.70
 2      17115.30  17121.50  17106.35  17115.55
 3      17123.70  17125.90  17113.75  17117.35
 4      17116.00  17123.90  17113.05  17122.65
 ...         ...       ...       ...       ...
 16256  17536.95  17536.95  17513.55  17536.35
 16257  17600.05  17601.60  17536.15  17536.70
 16258  17594.40  17615.20  17594.40  17599.55
 16259  17589.70  17599.60  17510.50  17595.35
 16260  17562.15  17642.75  17539.60  17596.60

 [16261 rows x 4 columns])

In [142]:
train_time = time[:10000]
test_time = time[10000:]
train_res = res[:10000]
test_res = res[10000:]

In [143]:
train_res.shape

(10000, 4)

In [144]:
intc = newdata['intc']

In [147]:
train_intc = newdata[:10000]
test_intc = newdata[10000:]

In [148]:
type(train_time[1])

numpy.int64

In [149]:
model_1 = tf.keras.Sequential(
    [
        tf.keras.layers.Dense(10 ,activation=tf.keras.activations.relu),
        tf.keras.layers.Dense(4 ,activation=tf.keras.activations.relu),
        tf.keras.layers.Dense(1 ,activation=tf.keras.activations.softmax)

    ]
)
model_1.compile(loss= tf.keras.losses.CategoricalCrossentropy,
                optimizer=tf.keras.optimizers.Adam(),
                 metrics=["accuracy"])
non_norm_history = model_1.fit(train_time,
                                train_intc,
                                epochs=30)

Epoch 1/30

TypeError: in user code:

    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\engine\training.py", line 1284, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\engine\training.py", line 1268, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\engine\training.py", line 1249, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\engine\training.py", line 1051, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\engine\training.py", line 1109, in compute_loss
        return self.compiled_loss(
    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\engine\compile_utils.py", line 265, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\losses.py", line 160, in __call__
        return losses_utils.compute_weighted_loss(
    File "C:\Users\Dhruv_fefar\PycharmProjects\nifty\venv\lib\site-packages\keras\utils\losses_utils.py", line 328, in compute_weighted_loss
        losses = tf.convert_to_tensor(losses)

    TypeError: Failed to convert elements of <keras.losses.CategoricalCrossentropy object at 0x000001D8F046E880> to Tensor. Consider casting elements to a supported type. See https://www.tensorflow.org/api_docs/python/tf/dtypes for supported TF dtypes.

(10000, 5)